body {
    background-color: #c78d8e ;
    margin:50px;
}

#menu{
    position: absolute;
    display: flex;
    list-style-type: none;
    top: 10px;
    right: 80px;
    width: 50%;  
    flex-direction: row;
}

nav li {
    flex-basis: 20%;
    text-align: right;
    padding-right: 40px;
}

.logo {
    margin-left: 0%;
    margin-top: 5%;
} 

.navegacion {
    margin-left: 0%;
    margin-top: 5%;
} 

.footer {
    margin-left: 0%;
    margin-top: 7%;
} 

h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
    font-family: sans-serif;
}
 
h3 {
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}
 
 
p {
    font-weight: normal;
    color: white;
    font-family: sans-serif;
}
