body {
    background-image: url('Images/fondo.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.menu {
    position: absolute;
    top: 40px;
    right: 80px;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #837683;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-size: 130px;
    font-weight: bold;
    color: white;
    margin-left: 15%;
    margin-top: 11%;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin-left: 17%;
    margin-top: -7%;
}

p {
    color: #ffff;
    font-weight: normal;
    font-size: 17px;
    font-family: Arial;
    margin-top: 5%;
    width: 275px;
    text-align: justify;
}

#inicio {
    color: #ca7f82;
    font-weight: bold;
}