body {
    background-image: url('Images/fondo.png');
    background-color: #babdba;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
 }
 
 /* Navegación */
 nav {
   display: flex;
   justify-content: flex-end;
   padding: 20px;
   position: absolute;
   top: 25px;
   right: 80px;
 }
 
 nav a {
   color: #837683;
   cursor: pointer;
   font-size: 20px;
   margin: 10px 25px;
   text-decoration: none;
 }
 
 nav a:hover {
   color: #ca7f82;
 }
 
 #actual {
   color: #ca7f82;
   font-weight: bold;
 }


 /* Pie de página */
 .footer {
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 50px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
 }
 
 .footer div {
   flex-basis: 20%;
   padding-right: 40px;
   text-align: right;
 }
 

 /* Formato palabras */
 h1 {
    font-size: 130px;
    font-weight: bold;
    color: white;
    margin-left: 15%;
    margin-top: 11%;
 }
 
 h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin-left: 17%;
    margin-top: -7%;
 }
 
 h3 {
    font-size: 20px;
    margin-bottom: 5px;
 }
 
 /* Visión adaptada al celular */
@media only screen and (max-width: 600px) {

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

/*
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color:red;
}
*/
