* {
  font-family: 'Inter', sans-serif;
}

 /* Navegación */
 li {
  display: inline;
  margin-left: 55px;
  margin-top: 20px;
 }

/* Galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
    margin-top: 30px;
  }
  
  .gallery img {
    width: calc(33.33% - 10px);
    height: 500px;
    margin-bottom: 20px;
    object-fit: cover;
  }


/* Visión adaptada al celular */
@media only screen and (max-width: 1100px) {

.gallery img {
    width: calc(50% - 10px);
    height: 500px;
    margin-bottom: 20px;
    object-fit: cover;
  }

}

@media only screen and (max-width: 700px) {

  .gallery img {
      width: 100%;
      height: 500px;
      margin-bottom: 20px;
      object-fit: cover;
    }
  
  }