

body {
    background-color: #e2dbb8 ;
    margin:40px;
   }
   .cuadrado {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: rgb(246, 245, 233);
   margin: 10px;
   cursor: pointer;
 }
 .contenido {
   display: none;
   padding: 10px;
   text-align: center;
   border-top: 100px;
   border-bottom: 100px ;

 }
 .title{
    font-size:700px
 }